html{
	font-family: sans-serif;
}

.overallnav{

}

.navlist a
{
	text-decoration: none;
	font-size: 24px;
	color: black;
	font: bolder;
	font-variant-caps: small-caps;
	background-color: white;
}

.navlist li
{
	list-style-type: none;
	display: inline-block;
	width: 23%;
	background-color: lightgray;
	margin-left: 1%
}

.heady
{
	background-color: black;
	color:white;
	text-align: center;
}

.overallnav{

}

ul.navlist{
	text-align: center;
	display: inline;
}

.bigbox{
	background-color: aliceblue;
}


.about
{
	text-align: center;
}

.contactdisplay{
text-align: center;
display: inline;
}

li.contactdisplay
{
	background-color: lightblue;
}

.contacthead
{
	background-color: linen;
	text-align: center;
}

footer.footy
{
	text-align: center;
	background-color: black;
	color:white;
}

.contactcounter{

	text-align: center;
	font-size: 24px;
	background-color: gold;
}
