<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>About me</title>
	</head>
	<body>
		<p class = about> Jason was once a sane man , then he decided to start programming.<br> Bad move.Now he talks about himself in 3rd person and hopes nobody notices.<br> It doesn't work</p>
		<p class = about> Coding seems to be about how many times you can make someone swear (most of the time it will be you) </p>
	</body>
</html>
