<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Contacts List</title>
	</head>
	<body>

		<ul>

		 <header class="contacthead"> <h1> Jason's rad friends and family </h1></header>

		 <% @collection.each do |contact| %>
		<li class = contactdisplay> <h4> <%=contact.first_name %> <%=contact.last_name %> </h4> <%=contact.email  %> <%=contact.note  %>  </li>
		<%end%>
		</ul>



	</body>
</html>
