<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<nav>
		<ul>
			<li> <a href=index.erb> Home </li>
			<li>  <a href=about.erb> About </li>
			<li>  <a href=contacts.erb> Contacts </li>
		</ul>
	 </nav>
	</body>
</html>
